.uiex-label {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 6px;
    border-radius: 5px;
    padding: 5px 12px 7px 12px;
    font-size: 14px;
    
    &.uiex-removable {
    	padding-right: 30px;
    }
    
    .uiex-label-content {
    	display: block;
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
    }
    .uiex-label-close {
		display: block;
		box-sizing: border-box;
		position: absolute;
		top: 0;
		right: 0;
		width: 22px;
		bottom: 0;
		padding-top: 2px;
		padding-left: 4px;
		z-index: 2;
	}
}