.uiex-input.uiex-regexp-input {
	&:before {
		content: '/';
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 3px;
		left: 8px;
		color: #aaa;
		font-size: 18px;
	}
	&:after {
		content: '/';
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 3px;
		right: 8px;
		color: #aaa;
		font-size: 18px;
	}
	input {
		padding-left: 20px;
		padding-right: 20px;
	}
	&.uiex-clearable {
		input {
			padding-right: 42px;
		}
		&:after {
			right: 32px;
		}
	}
	&.uiex-focused {
		&:before,
		&:after {
			color: #333;
		}
	}
}