.uiex-draggable-area {
	user-select: none;
    -moz-user-select: none;
	cursor: grab;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	&:active {
		cursor: grabbing;
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;    			
	}
}