div.uiex-tabs {

	div.uiex-tab {
		margin-right: 6px;

		&:last-child {
			margin-right: 0;
		}

		&.uiex-float-right {
			margin-right: 0 !important;
			margin-left: 6px;
		}
	}
	&.uiex-align-right {

		div.uiex-tab {
			margin-left: 6px;
			margin-right: 0;

			&:first-child {
				margin-left: 0;
			}

			&.uiex-float-left {
				margin-left: 0 !important;
				margin-right: 6px;
			}
		}
	}

	&.uiex-align-center {

		div.uiex-tab {
			margin-left: 3px;
			margin-right: 3px;
		}
	}
	.uiex-tabs-menu {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.uiex-tabs-menu-inner {
		display: block;
		width: 100%;
	}
	.uiex-tabs-content {
		margin-top: 10px;
		text-align: left;
	}
}