@charset "UTF-8";
@font-face { font-family: 'OpenWeb Icons'; src: url("./fonts/openwebicons.eot"); src: url("./fonts/openwebicons.eot?#iefix") format("embedded-opentype"), url("./fonts/openwebicons.woff2") format("woff2"), url("./fonts/openwebicons.woff") format("woff"), url("./fonts/openwebicons.ttf") format("truetype"), url("./fonts/openwebicons.svg#openweb_iconsregular") format("svg"); font-weight: normal; font-style: normal; }
[class^="uiex-owb-"]:before, [class*=" uiex-owb-"]:before { font-family: 'OpenWeb Icons'; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; vertical-align: center; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; }

.uiex-owb-apml:before { content: ""; }

.uiex-owb-open-share:before { content: ""; }

.uiex-owb-open-share-simple:before { content: ""; }

.uiex-owb-share:before { content: ""; }

.uiex-owb-share-simple:before { content: ""; }

.uiex-owb-feed:before { content: ""; }

.uiex-owb-feed-simple:before { content: ""; }

.uiex-owb-ostatus:before { content: ""; }

.uiex-owb-ostatus-simple:before { content: ""; }

.uiex-owb-opml:before { content: ""; }

.uiex-owb-activity:before { content: ""; }

.uiex-owb-activity-simple:before { content: ""; }

.uiex-owb-microformats:before { content: ""; }

.uiex-owb-geo:before { content: ""; }

.uiex-owb-opensearch:before { content: ""; }

.uiex-owb-oauth:before { content: ""; }

.uiex-owb-openid:before { content: ""; }

.uiex-owb-semantic-web:before { content: ""; }

.uiex-owb-rdf:before { content: ""; }

.uiex-owb-rdfa:before { content: ""; }

.uiex-owb-owl:before { content: ""; }

.uiex-owb-dataportability:before { content: ""; }

.uiex-owb-federated:before { content: ""; }

.uiex-owb-web-intents:before { content: ""; }

.uiex-owb-open-web:before { content: ""; }

.uiex-owb-xmpp:before { content: ""; }

.uiex-owb-html5:before { content: ""; }

.uiex-owb-css3:before { content: ""; }

.uiex-owb-connectivity:before { content: ""; }

.uiex-owb-semantics:before { content: ""; }

.uiex-owb-3deffects:before { content: ""; }

.uiex-owb-device-access:before { content: ""; }

.uiex-owb-multimedia:before { content: ""; }

.uiex-owb-offline-storage:before { content: ""; }

.uiex-owb-perfintegration:before { content: ""; }

.uiex-owb-git:before { content: ""; }

.uiex-owb-webhooks:before { content: ""; }

.uiex-owb-osi:before { content: ""; }

.uiex-owb-opensource:before { content: ""; }

.uiex-owb-opengraph:before { content: ""; }

.uiex-owb-epub:before { content: ""; }

.uiex-owb-qr:before { content: ""; }

.uiex-owb-foaf:before { content: ""; }

.uiex-owb-info-card:before { content: ""; }

.uiex-owb-browserid:before { content: ""; }

.uiex-owb-remote-storage:before { content: ""; }

.uiex-owb-persona:before { content: ""; }

.uiex-owb-odata:before { content: ""; }

.uiex-owb-markdown:before { content: ""; }

.uiex-owb-tosdr:before { content: ""; }

.uiex-owb-pub:before { content: ""; }

.uiex-owb-sub:before { content: ""; }

.uiex-owb-hubbub:before { content: ""; }

.uiex-owb-pubsubhubbub:before { content: ""; }

.uiex-owb-cc:before { content: ""; }

.uiex-owb-cc-by:before { content: ""; }

.uiex-owb-cc-nc:before { content: ""; }

.uiex-owb-cc-nc-eu:before { content: ""; }

.uiex-owb-cc-nc-jp:before { content: ""; }

.uiex-owb-cc-sa:before { content: ""; }

.uiex-owb-cc-nd:before { content: ""; }

.uiex-owb-cc-public:before { content: ""; }

.uiex-owb-cc-zero:before { content: ""; }

.uiex-owb-cc-share:before { content: ""; }

.uiex-owb-cc-remix:before { content: ""; }

.uiex-owb-hatom:before { content: ""; }

.uiex-owb-hresume:before { content: ""; }

.uiex-owb-hcard-add:before { content: ""; }

.uiex-owb-hcard-download:before { content: ""; }

.uiex-owb-indieweb:before { content: ""; }

.uiex-owb-indiewebcamp:before { content: ""; }

.uiex-owb-webfinger:before { content: ""; }

.uiex-owb-bitcoin:before { content: ""; }

.uiex-owb-bitcoin-simple:before { content: ""; }

.uiex-owb-svg:before { content: ""; }

.uiex-owb-json-ld:before { content: ""; }

.uiex-owb-tent:before { content: ""; }

.uiex-owb-copyleft:before { content: ""; }

.uiex-owb-gnu:before { content: ""; }

.uiex-owb-ofl-attribution:before { content: ""; }

.uiex-owb-ofl-share:before { content: ""; }

.uiex-owb-ofl-renaming:before { content: ""; }

.uiex-owb-ofl-selling:before { content: ""; }

.uiex-owb-ofl-embedding:before { content: ""; }

.uiex-owb-webmention:before { content: ""; }

.uiex-owb-javascript:before { content: ""; }

.uiex-owb-wtfpl:before { content: ""; }

.uiex-owb-ofl:before { content: ""; }

.uiex-owb-wordpress:before { content: ""; }

.uiex-owb-owncloud:before { content: ""; }

.uiex-owb-cccs:before { content: ""; }

.uiex-owb-barcamp:before { content: ""; }

.uiex-owb-indiehosters:before { content: ""; }

.uiex-owb-known:before { content: ""; }

.uiex-owb-mozilla:before { content: ""; }

.uiex-owb-unhosted:before { content: ""; }

.uiex-owb-diaspora:before { content: ""; }

.uiex-owb-indie:before { content: ""; }

.uiex-owb-ghost:before { content: ""; }

.uiex-owb-webplattform:before { content: ""; }

.uiex-owb-opensourcedesign:before { content: ""; }

.uiex-owb-opendesign:before { content: ""; }

.uiex-owb-gnusocial:before { content: ""; }

.uiex-owb-gnusocial-simple:before { content: ""; }

.uiex-owb-mastodon:before { content: ""; }

.uiex-owb-mastodon-simple:before { content: ""; }
