.uiex-cell-group {
	position: relative;
	line-height: 0px;
	font-size: 0;
	letter-spacing: -1px;
	&.uiex-nowrap {
		white-space: nowrap;
	}
}

.uiex-cell {
	vertical-align: top;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	letter-spacing: 0;
	font-size: 14px;
	line-height: 18px;
	& > * {
		width: 100% !important;
		min-width: 0 !important;
		max-width: none !important;
	}
}