.uiex-cell-group {
	position: relative;

	&:not(.uiex-side-shrinked) {
		&.uiex-align-right {
			.uiex-cell-group-row {
				&.uiex-complete-row {
					.uiex-cell {
						&.uiex-first-cell-in-row {
							padding-left: 0 !important;
						}
					}
				}
				&.uiex-incomplete-row {
					.uiex-cell {
						&:last-child {
							padding-right: 0 !important;
						}
					}
				}
			}
		}
		&:not(.uiex-align-right) {
			.uiex-cell {
				&.uiex-first-cell-in-row {
					padding-left: 0 !important;
				}
			}
		}
	}	
}

.uiex-cell-group-row {
	line-height: 0px;
	font-size: 0;
	letter-spacing: -1px;
	white-space: nowrap;
}

.uiex-cell {
	pointer-events: auto;
	vertical-align: top;
	box-sizing: border-box !important;
	position: relative;
	display: inline-block;
	letter-spacing: 0;
	font-size: 14px;
	line-height: 18px;
	white-space: normal;
	min-width: unset !important;
	max-width: unset !important;
	height: 100%;
	text-align: left;

	&.uiex-last-cell-in-row {
		padding-right: 0 !important;
	}

	.uiex-cell-content {
		box-sizing: border-box !important;
		height: 100% !important;
	}
}