@charset "UTF-8";
@font-face {
  font-family: "Genericons-Neue";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Genericons-Neue.eot);
  src: local("Genericons-Neue"), url(./fonts/Genericons-Neue.woff2) format("woff2"), url(./fonts/Genericons-Neue.ttf) format("truetype");
}
.uiex-gnr {
  font-family: "Genericons-Neue";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uiex-gnr-activity:before {
  content: "";
}

.uiex-gnr-anchor:before {
  content: "";
}

.uiex-gnr-aside:before {
  content: "";
}

.uiex-gnr-attachment:before {
  content: "";
}

.uiex-gnr-audio-mute:before {
  content: "";
}

.uiex-gnr-audio:before {
  content: "";
}

.uiex-gnr-bold:before {
  content: "";
}

.uiex-gnr-book:before {
  content: "";
}

.uiex-gnr-bug:before {
  content: "";
}

.uiex-gnr-cart:before {
  content: "";
}

.uiex-gnr-category:before {
  content: "";
}

.uiex-gnr-chat:before {
  content: "";
}

.uiex-gnr-checkmark:before {
  content: "";
}

.uiex-gnr-close-alt:before {
  content: "";
}

.uiex-gnr-close:before {
  content: "";
}

.uiex-gnr-cloud-download:before {
  content: "";
}

.uiex-gnr-cloud-upload:before {
  content: "";
}

.uiex-gnr-cloud:before {
  content: "";
}

.uiex-gnr-code:before {
  content: "";
}

.uiex-gnr-cog:before {
  content: "";
}

.uiex-gnr-collapse:before {
  content: "";
}

.uiex-gnr-comment:before {
  content: "";
}

.uiex-gnr-day:before {
  content: "";
}

.uiex-gnr-document:before {
  content: "";
}

.uiex-gnr-download:before {
  content: "";
}

.uiex-gnr-edit:before {
  content: "";
}

.uiex-gnr-ellipsis:before {
  content: "";
}

.uiex-gnr-expand:before {
  content: "";
}

.uiex-gnr-external:before {
  content: "";
}

.uiex-gnr-fastforward:before {
  content: "";
}

.uiex-gnr-feed:before {
  content: "";
}

.uiex-gnr-flag:before {
  content: "";
}

.uiex-gnr-fullscreen:before {
  content: "";
}

.uiex-gnr-gallery:before {
  content: "";
}

.uiex-gnr-heart:before {
  content: "";
}

.uiex-gnr-help:before {
  content: "";
}

.uiex-gnr-hide:before {
  content: "";
}

.uiex-gnr-hierarchy:before {
  content: "";
}

.uiex-gnr-home:before {
  content: "";
}

.uiex-gnr-image:before {
  content: "";
}

.uiex-gnr-info:before {
  content: "";
}

.uiex-gnr-italic:before {
  content: "";
}

.uiex-gnr-key:before {
  content: "";
}

.uiex-gnr-link:before {
  content: "";
}

.uiex-gnr-location:before {
  content: "";
}

.uiex-gnr-lock:before {
  content: "";
}

.uiex-gnr-mail:before {
  content: "";
}

.uiex-gnr-menu:before {
  content: "";
}

.uiex-gnr-microphone:before {
  content: "";
}

.uiex-gnr-minus:before {
  content: "";
}

.uiex-gnr-month:before {
  content: "";
}

.uiex-gnr-move:before {
  content: "";
}

.uiex-gnr-next:before {
  content: "";
}

.uiex-gnr-notice:before {
  content: "";
}

.uiex-gnr-paintbrush:before {
  content: "";
}

.uiex-gnr-pause:before {
  content: "";
}

.uiex-gnr-phone:before {
  content: "";
}

.uiex-gnr-picture:before {
  content: "";
}

.uiex-gnr-pinned:before {
  content: "";
}

.uiex-gnr-play:before {
  content: "";
}

.uiex-gnr-plugin:before {
  content: "";
}

.uiex-gnr-plus:before {
  content: "";
}

.uiex-gnr-previous:before {
  content: "";
}

.uiex-gnr-print:before {
  content: "";
}

.uiex-gnr-quote:before {
  content: "";
}

.uiex-gnr-refresh:before {
  content: "";
}

.uiex-gnr-reply:before {
  content: "";
}

.uiex-gnr-rewind:before {
  content: "";
}

.uiex-gnr-search:before {
  content: "";
}

.uiex-gnr-send-to-phone:before {
  content: "";
}

.uiex-gnr-send-to-tablet:before {
  content: "";
}

.uiex-gnr-share:before {
  content: "";
}

.uiex-gnr-show:before {
  content: "";
}

.uiex-gnr-shuffle:before {
  content: "";
}

.uiex-gnr-sitemap:before {
  content: "";
}

.uiex-gnr-skip-ahead:before {
  content: "";
}

.uiex-gnr-skip-back:before {
  content: "";
}

.uiex-gnr-spam:before {
  content: "";
}

.uiex-gnr-standard:before {
  content: "";
}

.uiex-gnr-star-empty:before {
  content: "";
}

.uiex-gnr-star-half:before {
  content: "";
}

.uiex-gnr-star:before {
  content: "";
}

.uiex-gnr-status:before {
  content: "";
}

.uiex-gnr-stop:before {
  content: "";
}

.uiex-gnr-subscribe:before {
  content: "";
}

.uiex-gnr-subscribed:before {
  content: "";
}

.uiex-gnr-summary:before {
  content: "";
}

.uiex-gnr-tablet:before {
  content: "";
}

.uiex-gnr-tag:before {
  content: "";
}

.uiex-gnr-time:before {
  content: "";
}

.uiex-gnr-top:before {
  content: "";
}

.uiex-gnr-trash:before {
  content: "";
}

.uiex-gnr-unapprove:before {
  content: "";
}

.uiex-gnr-unsubscribe:before {
  content: "";
}

.uiex-gnr-unzoom:before {
  content: "";
}

.uiex-gnr-user:before {
  content: "";
}

.uiex-gnr-video:before {
  content: "";
}

.uiex-gnr-videocamera:before {
  content: "";
}

.uiex-gnr-warning:before {
  content: "";
}

.uiex-gnr-website:before {
  content: "";
}

.uiex-gnr-week:before {
  content: "";
}

.uiex-gnr-xpost:before {
  content: "";
}

.uiex-gnr-zoom:before {
  content: "";
}
