.uiex-checkbox {
	display: inline-flex;
	align-items: center;

	.uiex-checkbox-control {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 2px;
		background-color: #fff;
		border: 1px solid #aaa;
		cursor: pointer;
		box-sizing: border-box;
	}

	.uiex-checkbox-marker {
		position: absolute;
		left: 2px;
		top: 2px;
		right: 2px;
		bottom: 2px;
		border-radius: 2px;
		background-color: #888;
		color: #888;
		font-size: 18px;
		display: none;
	}

	&:not(.uiex-disabled):hover {
		.uiex-checkbox-marker {
			background-color: #555;
			color: #555;
		}
	}

	&.uiex-with-icon {
		.uiex-checkbox-marker {
			background-color: transparent !important;
		}
	}

	&.uiex-checked,
	&.uiex-undetermined {
		.uiex-checkbox-marker {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&.uiex-undetermined {
		.uiex-checkbox-marker {
			opacity: 0.3;
		}
	}
	&.uiex-disabled {
		.uiex-checkbox-control {
			background-color: #f1f1f1;
			border-color: #bbb;
			cursor: not-allowed;
		}
		.uiex-checkbox-marker {
			opacity: 0.5;
			cursor: not-allowed;
		}
		.uiex-checkbox-label {
			cursor: not-allowed;
		}
	}

	.uiex-checkbox-label {
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;
		padding-bottom: 2px;
		font-size: 15px;
	}
}