*.uiex-block {
	display: block !important;
}
*.uiex-float-left {
	float: left !important;
}
*.uiex-float-right {
	float: right !important;
}
*.uiex-align-left {
	text-align: left !important;
}
*.uiex-align-center {
	text-align: center !important;
}
*.uiex-align-right {
	text-align: right !important;
}
*.uiex-valign-top {
	align-items: flex-start !important;
}
*.uiex-valign-center {
	align-items: center !important;
}
*.uiex-valign-bottom {
	align-items: flex-end !important;
}