@charset "UTF-8";
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("./fonts/glyphicons-halflings-regular.woff2") format("woff2");
}
.uiex-gly {
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uiex-gly-spin {
  animation: uiex-gly-spin 2s infinite linear;
}

@keyframes uiex-gly-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.uiex-gly-flip {
  transform: scaleX(-1);
}

.uiex-gly-flipv {
  transform: scaleY(-1);
}

.uiex-gly-rotate90 {
  transform: rotate(90deg);
}

.uiex-gly-rotate180 {
  transform: rotate(180deg);
}

.uiex-gly-rotate270 {
  transform: rotate(270deg);
}

.uiex-gly-glass:before {
  content: "";
}

.uiex-gly-music:before {
  content: "";
}

.uiex-gly-search:before {
  content: "";
}

.uiex-gly-envelope:before {
  content: "";
}

.uiex-gly-heart:before {
  content: "";
}

.uiex-gly-star:before {
  content: "";
}

.uiex-gly-star-empty:before {
  content: "";
}

.uiex-gly-user:before {
  content: "";
}

.uiex-gly-film:before {
  content: "";
}

.uiex-gly-th-large:before {
  content: "";
}

.uiex-gly-th:before {
  content: "";
}

.uiex-gly-th-list:before {
  content: "";
}

.uiex-gly-ok:before {
  content: "";
}

.uiex-gly-remove:before {
  content: "";
}

.uiex-gly-zoom-in:before {
  content: "";
}

.uiex-gly-zoom-out:before {
  content: "";
}

.uiex-gly-off:before {
  content: "";
}

.uiex-gly-signal:before {
  content: "";
}

.uiex-gly-cog:before {
  content: "";
}

.uiex-gly-trash:before {
  content: "";
}

.uiex-gly-home:before {
  content: "";
}

.uiex-gly-file:before {
  content: "";
}

.uiex-gly-time:before {
  content: "";
}

.uiex-gly-road:before {
  content: "";
}

.uiex-gly-download-alt:before {
  content: "";
}

.uiex-gly-download:before {
  content: "";
}

.uiex-gly-upload:before {
  content: "";
}

.uiex-gly-inbox:before {
  content: "";
}

.uiex-gly-play-circle:before {
  content: "";
}

.uiex-gly-repeat:before {
  content: "";
}

.uiex-gly-refresh:before {
  content: "";
}

.uiex-gly-list-alt:before {
  content: "";
}

.uiex-gly-lock:before {
  content: "";
}

.uiex-gly-flag:before {
  content: "";
}

.uiex-gly-headphones:before {
  content: "";
}

.uiex-gly-volume-off:before {
  content: "";
}

.uiex-gly-volume-down:before {
  content: "";
}

.uiex-gly-volume-up:before {
  content: "";
}

.uiex-gly-qrcode:before {
  content: "";
}

.uiex-gly-barcode:before {
  content: "";
}

.uiex-gly-tag:before {
  content: "";
}

.uiex-gly-tags:before {
  content: "";
}

.uiex-gly-book:before {
  content: "";
}

.uiex-gly-bookmark:before {
  content: "";
}

.uiex-gly-print:before {
  content: "";
}

.uiex-gly-camera:before {
  content: "";
}

.uiex-gly-font:before {
  content: "";
}

.uiex-gly-bold:before {
  content: "";
}

.uiex-gly-italic:before {
  content: "";
}

.uiex-gly-text-height:before {
  content: "";
}

.uiex-gly-text-width:before {
  content: "";
}

.uiex-gly-align-left:before {
  content: "";
}

.uiex-gly-align-center:before {
  content: "";
}

.uiex-gly-align-right:before {
  content: "";
}

.uiex-gly-align-justify:before {
  content: "";
}

.uiex-gly-list:before {
  content: "";
}

.uiex-gly-indent-left:before {
  content: "";
}

.uiex-gly-indent-right:before {
  content: "";
}

.uiex-gly-facetime-video:before {
  content: "";
}

.uiex-gly-picture:before {
  content: "";
}

.uiex-gly-pencil:before {
  content: "";
}

.uiex-gly-map-marker:before {
  content: "";
}

.uiex-gly-adjust:before {
  content: "";
}

.uiex-gly-tint:before {
  content: "";
}

.uiex-gly-edit:before {
  content: "";
}

.uiex-gly-share:before {
  content: "";
}

.uiex-gly-check:before {
  content: "";
}

.uiex-gly-move:before {
  content: "";
}

.uiex-gly-step-backward:before {
  content: "";
}

.uiex-gly-fast-backward:before {
  content: "";
}

.uiex-gly-backward:before {
  content: "";
}

.uiex-gly-play:before {
  content: "";
}

.uiex-gly-pause:before {
  content: "";
}

.uiex-gly-stop:before {
  content: "";
}

.uiex-gly-forward:before {
  content: "";
}

.uiex-gly-fast-forward:before {
  content: "";
}

.uiex-gly-step-forward:before {
  content: "";
}

.uiex-gly-eject:before {
  content: "";
}

.uiex-gly-chevron-left:before {
  content: "";
}

.uiex-gly-chevron-right:before {
  content: "";
}

.uiex-gly-plus-sign:before {
  content: "";
}

.uiex-gly-minus-sign:before {
  content: "";
}

.uiex-gly-remove-sign:before {
  content: "";
}

.uiex-gly-ok-sign:before {
  content: "";
}

.uiex-gly-question-sign:before {
  content: "";
}

.uiex-gly-info-sign:before {
  content: "";
}

.uiex-gly-screenshot:before {
  content: "";
}

.uiex-gly-remove-circle:before {
  content: "";
}

.uiex-gly-ok-circle:before {
  content: "";
}

.uiex-gly-ban-circle:before {
  content: "";
}

.uiex-gly-arrow-left:before {
  content: "";
}

.uiex-gly-arrow-right:before {
  content: "";
}

.uiex-gly-arrow-up:before {
  content: "";
}

.uiex-gly-arrow-down:before {
  content: "";
}

.uiex-gly-share-alt:before {
  content: "";
}

.uiex-gly-resize-full:before {
  content: "";
}

.uiex-gly-resize-small:before {
  content: "";
}

.uiex-gly-plus:before {
  content: "";
}

.uiex-gly-minus:before {
  content: "";
}

.uiex-gly-asterisk:before {
  content: "";
}

.uiex-gly-exclamation-sign:before {
  content: "";
}

.uiex-gly-gift:before {
  content: "";
}

.uiex-gly-leaf:before {
  content: "";
}

.uiex-gly-fire:before {
  content: "";
}

.uiex-gly-eye-open:before {
  content: "";
}

.uiex-gly-eye-close:before {
  content: "";
}

.uiex-gly-warning-sign:before {
  content: "";
}

.uiex-gly-plane:before {
  content: "";
}

.uiex-gly-calendar:before {
  content: "";
}

.uiex-gly-random:before {
  content: "";
}

.uiex-gly-comments:before {
  content: "";
}

.uiex-gly-magnet:before {
  content: "";
}

.uiex-gly-chevron-up:before {
  content: "";
}

.uiex-gly-chevron-down:before {
  content: "";
}

.uiex-gly-retweet:before {
  content: "";
}

.uiex-gly-shopping-cart:before {
  content: "";
}

.uiex-gly-folder-close:before {
  content: "";
}

.uiex-gly-folder-open:before {
  content: "";
}

.uiex-gly-resize-vertical:before {
  content: "";
}

.uiex-gly-resize-horizontal:before {
  content: "";
}

.uiex-gly-hdd:before {
  content: "";
}

.uiex-gly-bullhorn:before {
  content: "";
}

.uiex-gly-bell:before {
  content: "";
}

.uiex-gly-certificate:before {
  content: "";
}

.uiex-gly-thumbs-up:before {
  content: "";
}

.uiex-gly-thumbs-down:before {
  content: "";
}

.uiex-gly-hand-right:before {
  content: "";
}

.uiex-gly-hand-left:before {
  content: "";
}

.uiex-gly-hand-top:before {
  content: "";
}

.uiex-gly-hand-down:before {
  content: "";
}

.uiex-gly-circle-arrow-right:before {
  content: "";
}

.uiex-gly-circle-arrow-left:before {
  content: "";
}

.uiex-gly-circle-arrow-top:before {
  content: "";
}

.uiex-gly-circle-arrow-down:before {
  content: "";
}

.uiex-gly-globe:before {
  content: "";
}

.uiex-gly-wrench:before {
  content: "";
}

.uiex-gly-tasks:before {
  content: "";
}

.uiex-gly-filter:before {
  content: "";
}

.uiex-gly-briefcase:before {
  content: "";
}

.uiex-gly-fullscreen:before {
  content: "";
}

.uiex-gly-dashboard:before {
  content: "";
}

.uiex-gly-paperclip:before {
  content: "";
}

.uiex-gly-heart-empty:before {
  content: "";
}

.uiex-gly-link:before {
  content: "";
}

.uiex-gly-phone:before {
  content: "";
}

.uiex-gly-pushpin:before {
  content: "";
}

.uiex-gly-euro:before {
  content: "";
}

.uiex-gly-usd:before {
  content: "";
}

.uiex-gly-gbp:before {
  content: "";
}

.uiex-gly-sort:before {
  content: "";
}

.uiex-gly-sort-by-alphabet:before {
  content: "";
}

.uiex-gly-sort-by-alphabet-alt:before {
  content: "";
}

.uiex-gly-sort-by-order:before {
  content: "";
}

.uiex-gly-sort-by-order-alt:before {
  content: "";
}

.uiex-gly-sort-by-attributes:before {
  content: "";
}

.uiex-gly-sort-by-attributes-alt:before {
  content: "";
}

.uiex-gly-unchecked:before {
  content: "";
}

.uiex-gly-expand:before {
  content: "";
}

.uiex-gly-collapse:before {
  content: "";
}

.uiex-gly-collapse-top:before {
  content: "";
}

.uiex-gly-log-in:before {
  content: "";
}

.uiex-gly-flash:before {
  content: "";
}

.uiex-gly-log-out:before {
  content: "";
}

.uiex-gly-new-window:before {
  content: "";
}

.uiex-gly-record:before {
  content: "";
}

.uiex-gly-save:before {
  content: "";
}

.uiex-gly-open:before {
  content: "";
}

.uiex-gly-saved:before {
  content: "";
}

.uiex-gly-import:before {
  content: "";
}

.uiex-gly-export:before {
  content: "";
}

.uiex-gly-send:before {
  content: "";
}

.uiex-gly-floppy-disk:before {
  content: "";
}

.uiex-gly-floppy-saved:before {
  content: "";
}

.uiex-gly-floppy-remove:before {
  content: "";
}

.uiex-gly-floppy-save:before {
  content: "";
}

.uiex-gly-floppy-open:before {
  content: "";
}

.uiex-gly-credit-card:before {
  content: "";
}

.uiex-gly-transfer:before {
  content: "";
}

.uiex-gly-cutlery:before {
  content: "";
}

.uiex-gly-header:before {
  content: "";
}

.uiex-gly-compressed:before {
  content: "";
}

.uiex-gly-earphone:before {
  content: "";
}

.uiex-gly-phone-alt:before {
  content: "";
}

.uiex-gly-tower:before {
  content: "";
}

.uiex-gly-stats:before {
  content: "";
}

.uiex-gly-sd-video:before {
  content: "";
}

.uiex-gly-hd-video:before {
  content: "";
}

.uiex-gly-subtitles:before {
  content: "";
}

.uiex-gly-sound-stereo:before {
  content: "";
}

.uiex-gly-sound-dolby:before {
  content: "";
}

.uiex-gly-sound-5-1:before {
  content: "";
}

.uiex-gly-sound-6-1:before {
  content: "";
}

.uiex-gly-sound-7-1:before {
  content: "";
}

.uiex-gly-copyright-mark:before {
  content: "";
}

.uiex-gly-registration-mark:before {
  content: "";
}

.uiex-gly-cloud:before {
  content: "";
}

.uiex-gly-cloud-download:before {
  content: "";
}

.uiex-gly-cloud-upload:before {
  content: "";
}

.uiex-gly-tree-conifer:before {
  content: "";
}

.uiex-gly-tree-deciduous:before {
  content: "";
}

.uiex-gly-cd:before {
  content: "";
}

.uiex-gly-save-file:before {
  content: "";
}

.uiex-gly-open-file:before {
  content: "";
}

.uiex-gly-level-up:before {
  content: "";
}

.uiex-gly-copy:before {
  content: "";
}

.uiex-gly-paste:before {
  content: "";
}

.uiex-gly-door:before {
  content: "";
}

.uiex-gly-key:before {
  content: "";
}

.uiex-gly-alert:before {
  content: "";
}

.uiex-gly-equalizer:before {
  content: "";
}

.uiex-gly-king:before {
  content: "";
}

.uiex-gly-queen:before {
  content: "";
}

.uiex-gly-pawn:before {
  content: "";
}

.uiex-gly-bishop:before {
  content: "";
}

.uiex-gly-knight:before {
  content: "";
}

.uiex-gly-baby-formula:before {
  content: "";
}

.uiex-gly-tent:before {
  content: "";
}

.uiex-gly-blackboard:before {
  content: "";
}

.uiex-gly-bed:before {
  content: "";
}

.uiex-gly-apple:before {
  content: "";
}

.uiex-gly-erase:before {
  content: "";
}

.uiex-gly-hourglass:before {
  content: "";
}

.uiex-gly-lamp:before {
  content: "";
}

.uiex-gly-duplicate:before {
  content: "";
}

.uiex-gly-piggy-bank:before {
  content: "";
}

.uiex-gly-scissors:before {
  content: "";
}

.uiex-gly-bitcoin:before {
  content: "";
}

.uiex-gly-yen:before {
  content: "";
}

.uiex-gly-ruble:before {
  content: "";
}

.uiex-gly-scale:before {
  content: "";
}

.uiex-gly-ice-lolly:before {
  content: "";
}

.uiex-gly-ice-lolly-tasted:before {
  content: "";
}

.uiex-gly-education:before {
  content: "";
}

.uiex-gly-option-horizontal:before {
  content: "";
}

.uiex-gly-option-vertical:before {
  content: "";
}

.uiex-gly-menu-hamburger:before {
  content: "";
}

.uiex-gly-modal-window:before {
  content: "";
}

.uiex-gly-oil:before {
  content: "";
}

.uiex-gly-grain:before {
  content: "";
}

.uiex-gly-sunglasses:before {
  content: "";
}

.uiex-gly-text-size:before {
  content: "";
}

.uiex-gly-text-color:before {
  content: "";
}

.uiex-gly-text-background:before {
  content: "";
}

.uiex-gly-object-align-top:before {
  content: "";
}

.uiex-gly-object-align-bottom:before {
  content: "";
}

.uiex-gly-object-align-horizontal:before {
  content: "";
}

.uiex-gly-object-align-left:before {
  content: "";
}

.uiex-gly-object-align-vertical:before {
  content: "";
}

.uiex-gly-object-align-right:before {
  content: "";
}

.uiex-gly-triangle-right:before {
  content: "";
}

.uiex-gly-triangle-left:before {
  content: "";
}

.uiex-gly-triangle-bottom:before {
  content: "";
}

.uiex-gly-triangle-top:before {
  content: "";
}

.uiex-gly-terminal:before {
  content: "";
}

.uiex-gly-superscript:before {
  content: "";
}

.uiex-gly-subscript:before {
  content: "";
}

.uiex-gly-menu-left:before {
  content: "";
}

.uiex-gly-menu-right:before {
  content: "";
}

.uiex-gly-menu-down:before {
  content: "";
}

.uiex-gly-menu-up:before {
  content: "";
}

.uiex-gly-building:before {
  content: "";
}

.uiex-gly-tick:before {
  content: "";
}

.uiex-gly-star-half:before {
  content: "";
}

.uiex-gly-hash:before {
  content: "";
}

.uiex-gly-directions:before {
  content: "";
}

.uiex-gly-gas:before {
  content: "";
}

.uiex-gly-snowflake:before {
  content: "";
}

.uiex-gly-sunlight:before {
  content: "";
}

.uiex-gly-selectbox:before {
  content: "";
}

.uiex-gly-sortable:before {
  content: "";
}

.uiex-gly-note-empty:before {
  content: "";
}

.uiex-gly-note:before {
  content: "";
}

.uiex-gly-direction-right:before {
  content: "";
}

.uiex-gly-direction-left:before {
  content: "";
}

.uiex-gly-direction-down:before {
  content: "";
}

.uiex-gly-direction-up:before {
  content: "";
}

.uiex-gly-parking:before {
  content: "";
}

.uiex-gly-coffee-cup:before {
  content: "";
}

.uiex-gly-record-empty:before {
  content: "";
}

.uiex-gly-move-square:before {
  content: "";
}

.uiex-gly-bug:before {
  content: "";
}

.uiex-gly-display:before {
  content: "";
}

.uiex-gly-direction:before {
  content: "";
}

.uiex-gly-group:before {
  content: "";
}

.uiex-gly-reflect-y:before {
  content: "";
}

.uiex-gly-reflect-x:before {
  content: "";
}

.uiex-gly-battery-charging:before {
  content: "";
}

.uiex-gly-battery-full:before {
  content: "";
}

.uiex-gly-battery-75:before {
  content: "";
}

.uiex-gly-battery-50:before {
  content: "";
}

.uiex-gly-battery-25:before {
  content: "";
}

.uiex-gly-battery-10:before {
  content: "";
}

.uiex-gly-paired:before {
  content: "";
}

.uiex-gly-rotate-right:before {
  content: "";
}

.uiex-gly-rotate-left:before {
  content: "";
}

.uiex-gly-list-numbered:before {
  content: "";
}

.uiex-gly-paragraph:before {
  content: "";
}

.uiex-gly-list-plus:before {
  content: "";
}

.uiex-gly-synchronization:before {
  content: "";
}

.uiex-gly-cube-black:before {
  content: "";
}
